{% extends "layout.html" %}
{% block body %}
<body>
	<!-- Square card -->
	<style>
	.demo-card-square > .mdl-card__title {
	  color: #fff;
	  height: 250px;
	  background:
		url('../static/images/user.png') 15%;
	  background-size: cover;
	}
	.mdl-card__title-text {
	  color: black;
	}
	</style>

  <script defer src="{{ url_for('static',filename='javascripts/application.js') }}"></script>


	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
			<h2 class="mdl-card__title-text">Arthur de Moura Del Esposte</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
			<ul>
				<li>Número de citações</li>
				<li>H-index: 5</li>
				<li>Fator de impacto</li>
				<li>Universidade: USP</li>
			</ul>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			  Google Scholar
			</a>
		  </div>
		</div>
		<div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
			<h2 class="mdl-card__title-text">Arthur de Moura Del Esposte</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
			<ul>
				<li>Número de citações</li>
				<li>H-index: 5</li>
				<li>Fator de impacto</li>
				<li>Universidade: USP</li>
			</ul>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			  Google Scholar
			</a>
		  </div>
		</div>
		<div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
			<h2 class="mdl-card__title-text">Arthur de Moura Del Esposte</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
			<ul>
				<li>Número de citações</li>
				<li>H-index: 5</li>
				<li>Fator de impacto</li>
				<li>Universidade: USP</li>
			</ul>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			  Google Scholar
			</a>
		  </div>
		</div>
		<div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
			<h2 class="mdl-card__title-text">Researcher</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
			<ul>
				<li>Número de citações</li>
				<li>H-index: 5</li>
				<li>Fator de impacto</li>
				<li>Universidade: USP</li>
			</ul>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			  Google Scholar
			</a>
		  </div>
		</div>
		<div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
			<h2 class="mdl-card__title-text">Researcher</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
			<ul>
				<li>Número de citações</li>
				<li>H-index: 5</li>
				<li>Fator de impacto</li>
				<li>Universidade: USP</li>
			</ul>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			  Google Scholar
			</a>
		  </div>
		</div>
	</div>
	<div class="mdl-grid">
		<div class="mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--2dp">
		  <div class="mdl-card__title mdl-card--expand">
			<h2 class="mdl-card__title-text">Researcher</h2>
		  </div>
		  <div class="mdl-card__supporting-text">
			<ul>
				<li>Número de citações</li>
				<li>H-index: 5</li>
				<li>Fator de impacto</li>
				<li>Universidade: USP</li>
			</ul>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			<a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
			  Google Scholar
			</a>
		  </div>
		</div>
    <div class="mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--9-col">
      <div id="map" style="height:500px; width:100%;"></div>
    </div>
	</div>
</body>

<script>
function createMap() {
	$( document ).ready(function() {
		var lat = -23.545241799982602;
		var lng = -46.63861848413944;
		var zoom = 13;

		initMap(lat, lng, zoom);
	});
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSJo3eSKJBoP-15HnFXVW7qybkQMTpXFw&libraries=visualization&callback=createMap" async defer></script>
{% endblock %}

