{% extends "layout.html" %}
{% block body %}
<body>
	<!-- Square card -->
	<style>
	.demo-card-square > .mdl-card__title {
	  color: #fff;
	  height: 250px;
	  background:
		url('../static/images/user.png') 15%;
	  background-size: cover;
	}
	.mdl-card__title-text {
	  color: black;
	}
	</style>

  <script defer src="{{ url_for('static',filename='javascripts/application.js') }}"></script>


	<div class="mdl-grid map-info">
		<div class="map-caption mdl-cell mdl-cell--3-col  mdl-card mdl-shadow--4dp">
		  <div class="mdl-card__supporting-text">
			<h4>Map Caption</h4>
			<p>
			See the location of the best ranked researchers in your search. The larger the circle, the higher the H-index of the researcher. The colors of the circles represent the relevance of the researcher considering the research parameters, as described below:
			</p>
			<ul>
				<li style="color:green;">The best ranked researcher</li>
				<li style="color:yellow;">From 2nd to 4th best ranked researchers</li>
				<li style="color:orange;">From 5th to 7th best ranked researchers</li>
				<li style="color:red;">From 8th to 10th best ranked researchers</li>
			</ul>
		  </div>
		</div>
		<div style="display:none;" class="research-detail mdl-cell mdl-cell--3-col demo-card-square mdl-card mdl-shadow--4dp">
		  <div class="mdl-card__title mdl-card--expand">
			<h2 class="mdl-card__title-text" id="name"></h2>
		  </div>
		  <div class="mdl-card__supporting-text">
			<p id="affiliation" style="text-align:center"></p>
			<ul>
				<li id="citations"></li>
				<li id="hindex"></li>
				<li id="email"></li>
			</ul>
		  </div>
		  <div class="mdl-card__actions mdl-card--border">
			<a id="scholar" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				Google Scholar
			</a>
			<a id="scopus" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
				Scopus
			</a>
		  </div>
		</div>
    <div class="mdl-shadow--4dp mdl-color--white mdl-cell mdl-cell--9-col">
      <div id="map" style="height:500px; width:100%;"></div>
    </div>
	</div>
</body>

<script>
	function createMap() {
    function initMap(lat, lng, zoom) {
      var map;
      var markers = [];

      function drawMap() {
        // Create the map.
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: {lat: 37.090, lng: -95.712},
          mapTypeId: 'terrain'
        });

      }

      function addCard(researcher) {
        var element = $('.research-detail');
        element.show();
        element.find('#name').text(researcher['name']);
        element.find('#affiliation').text(researcher['affiliation']);
        element.find('#citations').text("Citations: " + researcher['citations']);
        element.find('#hindex').text("H-index: " + researcher['hindex']);
        element.find('#email').text("email: " + researcher['email']);
        if(researcher['scholar'] === undefined) {
          element.find('#scholar').hide();
        } else {
          element.find('#scholar').show();
          element.find('#scholar').attr("href", researcher['scholar']);
        }
        element.find('#scopus').attr("href", researcher['scopus']);
      }


      function drawMarkers(researcher){
        // Construct the circle for each value in citymap.
        // Note: We scale the area of the circle based on the population.
        console.log(researcher["position"])
          var marker = new google.maps.Marker({
            position: researcher['position'],
            icon: {
              path: google.maps.SymbolPath.CIRCLE,
              fillOpacity: 0.5,
              fillColor: researcher['color'],
              strokeOpacity: 1.0,
              strokeColor: researcher['color'],
              strokeWeight: 3.0,
              scale: researcher['scale'] //pixels
            },
            map: map,
          });

        marker.addListener('click', function() {
          map.setZoom(8);
          map.setCenter(marker.getPosition());
          $('.map-caption').hide();
          addCard(researcher);
        });

      }

      var researcher_1 = {
        name: "Arthur de Moura Del Esposte",
        affiliation: "Master Degree Student, University of São Paulo",
        citations: 10,
        hindex: 1,
        email: "esposte@ime.usp.br",
        scholar: "http://temp.com",
        scopus: "http://temp.com",
        position: {lat: 49.25, lng: -123.1},
        color: '#ff0000',
        scale: 12
      };

      var researcher_2 = {
        name: "Fabio Kon",
        affiliation: "Full Professor in Computer Science, University of São Paulo",
        citations: 4500,
        hindex: 10,
        email: "kon@ime.usp.br",
        scopus: "http://temp.com",
        position: {lat: -23, lng: -46},
        color: '#fff000',
        scale: 110
      };
      drawMap();
      drawMarkers(researcher_1);
      drawMarkers(researcher_2);
    }

    $( document ).ready(function() {
			var lat = -23.545241799982602;
			var lng = -46.63861848413944;
			var zoom = 13;

			initMap(lat, lng, zoom);
		});
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSJo3eSKJBoP-15HnFXVW7qybkQMTpXFw&libraries=visualization&callback=createMap" async defer></script>
{% endblock %}

